SPRING_PROFILES_ACTIVE=local
DB_USERNAME=edlearn
DB_PASSWORD=12345
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRATION=900000
REFRESH_EXPIRATION=604800000
CORS_ALLOWED_ORIGINS=*
APP_CACHE_ENABLED=true
APP_STORAGE_TYPE=local
MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=edlearn
